<p id="notice"><%= notice %></p>

<h2>Games</h2>

<table>
  <thead>
    <tr>
      <th align = "center"><h3>Name | </h3></th>
      <th align = "center"><h3>| Subgenre</h3></th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td align = "center"><h4><%= game.name %></h4></td>
        <td align = "center"><h4><%= game.subgenre.name %></h4></td>
        <td align = "center"><%= link_to 'PLAY', game,  class: "btn btn-info" %></td>
        <% if current_user.id == 1 %>
            <td><%= link_to 'Edit', edit_game_path(game),class: "btn btn-warning" %></td>
            <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.id == 1 %>
<%= link_to 'New Game', new_game_path, class: "btn btn-lg btn-info" %><br><br>
<% end %>
<%= link_to 'Back to User', root_path, class: "btn btn-lg btn-warning" %><br><br>
<%=link_to "Logout",destroy_user_session_path, method: :delete, class: "btn btn-lg btn-danger"%>
